@page "/prds"

<h3>Productos</h3>
<hr />
<a href="/PrdCre" class="btn btn-primary mb-3">
    <span class="oi oi-plus" aria-hidden="true"></span> Nuevo Producto
</a>
@if (LstPrds == null)
{
    // agregar Gif animado
    <p>Cargando...</p>
}
else
{
    if (LstPrds.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Status</th>
                        <th>Precio</th>
                        <th>Moneda</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lxPrd in LstPrds)
                    {
                        <tr>
                            <td>@lxPrd.Prd</td>
                            <td>@lxPrd.Dsc</td>
                            <td>@Enum.GetName(typeof(PrdSt), lxPrd.St)</td>
                            <td>@lxPrd.Prc</td>
                            <td>@lxPrd.Mon</td>
                            <td class="cell-controls">
                                <a class="btn btn-outline-primary" href="/PrdEdt/@lxPrd.Prd" title="Editar">
                                    <span class="oi oi-pencil"></span>
                                </a>
                                <a class="btn btn-outline-primary" href="/PrdBrr/@lxPrd.Prd" title="Borrar">
                                    <span class="oi oi-trash"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p class="alert alert-info">No hay datos.</p>
    }
}

@code {
    List<PrdModel> LstPrds;

    protected override async Task OnInitializedAsync()
    {
        LstPrds = await PrdDM.LstPrd_Obt() as List<PrdModel>;
    }
}
