@page "/UsrDet/{UsrId}"
@attribute [Authorize]

@inject UsrBO _UsrBO

<h3>Usuario</h3>
<hr />
<div class="table-responsive">
    <div class="col-8">
        <table class="table table-sm table-hover">
            <tr>
                <th>
                    Usuario
                </th>

                <td>
                    @usr.Usr
                </td>
            </tr>
            <tr>
                <th>
                    Nombre
                </th>
                <td>
                    @usr.Nom
                </td>
            </tr>
            <tr>
                <th>
                    Rol
                </th>
                <td>
                    @usr.Rol
                </td>
            </tr>
            <tr>
                <th>
                    Status
                </th>
                <td>
                    @Enum.GetName(typeof(UsrSt), usr.St)
                </td>
            </tr>
            <tr>
                <th>
                    Creación
                </th>
                <td>
                    @usr.StmCre
                </td>
            </tr>
            <tr>
                <th>
                    Modificación
                </th>
                <td>
                    @usr.StmMdf
                </td>
            </tr>
        </table>
    </div>
</div>
<div>
    <a class="btn btn-outline-primary" href="/UsrEdt/@usr.Usr" title="Editar">
        <span class="oi oi-pencil"></span> Editar
    </a>
    <a class="btn btn-outline-danger" href="/UsrBrr/@usr.Usr" title="Borrar">
        <span class="oi oi-trash"></span> Eliminar
    </a>
</div>
@code {
    UsrModel usr;

    [Parameter]
    public string UsrId { get; set; }

    protected override void OnInitialized()
    {
        usr = _UsrBO.Obt(UsrId);
    }

}
