@layout LoginLayout

@page "/"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject UsrBO UsrBO

<div class="login-panel login-item">
    <img src="/img/LatisPro480x320.jpg" alt="Logo" />
</div>
<div class="login-panel login-item login-bg">
    <div class="px-3 py-3">
        <h2 class="text-center bg-primary">@L["Latis Prototype"]</h2>
        <h3 class="text-center">@L["Login"]</h3>
        <EditForm Model="@usr" OnValidSubmit="@UsrVld">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                <div class="form-group">
                    <label for="usr">@L["User"]</label>
                    <InputText id="usr" class="form-control col" @bind-Value="usr.Usr" placeholder="@L["User"]" />
                    <ValidationMessage For="@(()=>usr.Usr)" />
                </div>
                <div class="form-group">
                    <label>@L["Password"]</label>
                    <InputText id="psw" type="password" class="form-control col" @bind-Value="usr.Psw" placeholder="@L["Password"]" />
                    <ValidationMessage For="@(()=>usr.Psw)" />
                </div>
            </div>
            <div class="text-center">
                <div class="form-group">
                    <input type="submit" id="btnSubmit" class="form-control col-6 btn btn-primary" value="@L["Login"]" />
                </div>
            </div>
            <Msg Cls="@MsgCls" Txt="@Msg" />
        </EditForm>
    </div>
</div>

@code {
    private UsrModel usr;
    private string Msg;
    private string MsgCls;

    protected override void OnInitialized()
    {
        usr = new UsrModel();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("jsfunction.focusElement", "usr");
        }
    }

    protected async Task<bool> UsrVld()
    {
        UsrModel lxUsr;
        try
        {
            lxUsr = UsrBO.Auth(usr.Usr, usr.Psw) as UsrModel;

            if (lxUsr == null)
            {
                (Msg, MsgCls) = Util.Msg_Set("Usuario o contraseña invalida", "alert-danger");
                return await Task.FromResult(false);
            }
            else
            {
                ((UsrAuthenticationStateProvider)AuthenticationStateProvider).MarkUsrAsAuth(lxUsr);
                await sessionStorage.SetItemAsync("usr", usr.Usr);
                NavMgr.NavigateTo("/index");
                return await Task.FromResult(true);
            }
        }
        catch (Exception ex)
        {
            (Msg, MsgCls) = Util.Msg_Set(ex.Message, "alert-danger");
            return await Task.FromResult(false);
        }
    }
}
